@require '__vars.styl'

$theme = '../themes/bordeau/'
@require $theme + '/_vars.styl'

@require '_mixins.styl'
@require '_main.styl'
@require 'components/_dashboard.styl'
@require 'components/_widget.styl'
@require 'components/_list.styl'
@require 'components/_count.styl'
@require 'components/_table.styl'
@require 'components/_treemap.styl'
@require 'components/_pie.styl'
@require 'components/_bar-chart.styl'

// IMPORT EXTENSIONS STYLES
@require '../ext/collected.styl'

@require $theme + '/index.styl'
